* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: #323234;
    overflow-x: hidden; /* αποτρέπει το οριζόντιο scroll */
     overflow: hidden;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media screen and (max-width: 768px){
    .main_content{
        margin: 0 35px;
        padding-top: 20px;
        width: 350px;
        height: 1000px;
        overflow: hidden;
    }

    .back_image{
        display: flex;
        width: 10px;
    }

}